
.Left_con {
    display: flex;
    width: 134px;
    height: 87%;
    justify-content: center;
    position: fixed;
    right: 0;
    align-items: center;
    top: 87px;
}

.left {

    transform: rotate(90deg);
    margin-bottom:100px;
}

.left a {
    text-decoration: none;
   
    color: inherit;
  
    transition: 0.2s ease-in-out;
}

.left a:hover {
    /* transform: translate(-5px,-5px); */
    transition: 0.2s ease-in;
    color: #0ba668;
}