* {
    padding: 0;
    margin: 0;
}

.container_content {

    display: flex;
    /* justify-items: center; */
    /* align-items: center; */

    height: 90vh;
    width: 100%;
}

.sub_content {
    display: flex;
    flex-direction: row;

    background: black;
    color: white;
    width: 100%;

}

.apps_link li {
    text-decoration: none;
    padding-top: 50%;
    padding-left: 28px;

}

.right {
    display: flex;
    top: 0;
    /* width: 16vh; */
    width: 6%;
    height: 100%;
    align-items: center;
    position: fixed;
}

.middle {
    display: flex;
    flex-direction: column;
    padding-left: 89px;
    width: 86%;
    display: inline;
    height: auto;
}

.Left_con {
    display: flex;
    width: 6%;
    height: 100%;
    justify-content: center;
    position: fixed;
    right: 0;
    align-items: center;
    top: 0;
}

.left {
    /* display: flex; */
    /* top: 0; */
    /* width: 14%; */
    /* height: 100%; */
    /* align-items: center; */
    /* position: fixed; */
    transform: rotate(90deg);
    /* padding-bottom: 85px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 245px; */
}

.left a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit color from parent */
    transition: 0.2s ease-in-out;
}

.left a:hover {
    /* transform: translate(-5px,-5px); */
    transition: 0.2s ease-in;
    color: #0ba668;
}

.apps_link li a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit color from parent */
}

.apps_link li {
    transition: 0.2s ease-out;
}

.apps_link li:hover {
    transform: translate(0, -5px);
    transition: 0.2s ease-in-out;
    color: #0ba668;

}

/* main content */

.greet {
    /* display: ; */
    border: 2px solid green;
    width: 120px;
    display: flex;
    height: 50px;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;

}


::-webkit-scrollbar {
    width: 9px;
    /* Width of the vertical scroll bar */
    height: 12px;
    /* Height of the horizontal scroll bar */
    border: 1px;
    
border-radius: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: black;
        /* Background of the scroll bar track */
}

::-webkit-scrollbar-thumb {
    /* background: #03ba43; */
    background: #016323;
    /* Background of the scroll bar thumb (the draggable part) */
    border-radius: 6px;
    /* Round the corners of the scroll bar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #016323;
    /* Background of the scroll bar thumb when hovered */
}